@use "./base.scss";
@use "themes";

// put your custom CSS here!

article.popover-hint {
    margin: 0 3em; 

    & p {
        text-align: justify;
    }

    & h1::before {
        content: "→ "
    }

    & h2::before {
        content: "— "
    }

    & h3::before {
        content: "– "
    }

    & h4::before {
        content: "- "
    }
}